*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
}
.box {
    width: 350px;
    padding: 25px;
    border: 3px solid blue;
    margin: 10px;
    background-color: lightyellow;
}