*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
}
.parent{
    background-color: aquamarine;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;

}
.child1{
    background-color: aqua;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
.child2{
    background-color: aqua;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
.child3{
    background-color: aqua;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
.child4{
    background-color: aqua;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
.child5{
    background-color: aqua;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
.child6{
    background-color: aqua;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
.child7{
    background-color: aqua;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
.child8{
    background-color: aqua;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}